html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }



body{
  background-color: #f2f1ed;
}

ul {
  list-style: none;
  float: right;
}

li {
  float: left;
  padding: 0px 20px 0px 20px;
}

.main{
  padding: 20px;
}

.navbar {
  font-family: 'Caveat Brush', cursive;
  font-size: 30px;
  padding-bottom: 40px;
}

.text-area {
  overflow: auto;
  padding: 20px 0px;
  line-height: 1.5em;
}

.fancy {
  font-family: 'Leckerli One', cursive;
}

.orange-text {
  color: #da9c76;
}

.name {
  float: left;
}

.navbar:after{
  content: "";
  display: table;
  clear: both;
}



.text-box-1{
  float:left;
  width: 70%;
  margin-right: 30px;

}

.text-box-2{
  float: right;
  width: 25%;
}

.photos img{
  width: 33.33%;
  margin: -2px;


}

.photos{
  width: 100%;
  clear: both;
  /*margin-left: auto;
  margin-right: auto;*/
}
